
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
/*Estilos para el bootstrap*/
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
color: rgb(147, 19, 19);
}
h1{
    color: red;
}